body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
* {
  margin: 0px;
  padding: 0px;
}
.background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 30vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background img {
  height: 200px;
  border-radius: 50%;
  transform: translateY(50%);
}

.content {
  height: 70vh;
  display: grid;
  gap: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "info exp";
}
.content .titles{
    font-size: 25px;
    margin-left: 60px;
}
.titles .name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}
.titles .subtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.content .info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  justify-content: space-around
}

.info .achieve {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info .achieve img {
  height: 70px;
}
.content .exp {
    display: flex;
    justify-content: center;
    align-items: center;
  grid-area: exp;
  /* background-color: bisque; */
}

/* icons */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.socials {
  display: grid;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px rgb(216, 216, 216);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

/* skills */

ul.product-plans {
  width: min(60rem, 90%);
  margin-inline: auto;
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
ul.product-plans li.product-plan:nth-child(1) {
  --accent-color: #fa0038;
}
ul.product-plans li.product-plan:nth-child(2) {
  --accent-color: #164fa9;
}
ul.product-plans li.product-plan:nth-child(3) {
  --accent-color: #1a9b8b;
}

ul.product-plans li.product-plan {
  --overlap-size: 1.5rem;
  --border-radius: 5rem;
  width: min(15rem, 100%);
  margin-inline: var(--overlap-size);
  padding-block: 2rem;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  gap: 0.5rem;
  border-radius: var(--border-radius) 0 var(--border-radius) 0;
  box-shadow: 1px 0px 5px 2px rgba(211, 211, 211, 0.644);
}

ul.product-plans li.product-plan .title {
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}

ul.product-plans li.product-plan .price {
  height: 30px;
  width: 80px;
  margin-right: calc(var(--overlap-size) * -1);
  justify-self: end;
  padding-block: 0.25rem;
  padding-inline: var(--overlap-size);
  background-color: var(--accent-color);
  color: white;
  position: relative;
}
ul.product-plans li.product-plan .price::after {
  content: "";
  position: absolute;
  height: var(--overlap-size);
  width: var(--overlap-size);
  right: 0;
  top: 100%;
  background-color: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

ul.product-plans li.product-plan .btn {
  height: 30px;
  justify-self: start;
  margin-left: calc(var(--overlap-size) * -1);
  padding-block: 0.5rem;
  padding-inline: 2.5rem;

  border: none;
  font-family: inherit;
  color: white;
  font-size: 1.1rem;

  background-color: var(--accent-color);
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 0);
  background-size: 100% 200%;
  transition: background-position 100ms ease;

  position: relative;
  cursor: pointer;
}
ul.product-plans li.product-plan .btn:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--accent-color);
  background-position: 0 100%;
}

ul.product-plans li.product-plan .btn:hover {
  background-position: 0 100%;
}

ul.product-plans li.product-plan .btn::after {
  content: "";
  position: absolute;
  height: var(--overlap-size);
  width: var(--overlap-size);
  left: 0;
  bottom: 100%;
  background-color: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

ul.product-plans li.product-plan .btn:active {
  transform: scale(0.95);
}
ul.product-plans li.product-plan .btn:active::after {
  transform-origin: left bottom;
  transform: scale(0.9);
}

ul.product-plans li.product-plan .features {
  align-self: flex-start;
  list-style: none;
  padding-inline: 2rem;
  display: grid;
}

ul.product-plans li.product-plan .features li:not(:first-child) {
  border-top: 1px solid rgb(200, 200, 200);
}
ul.product-plans li.product-plan .features li {
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1rem 1fr;
}

ul.product-plans li.product-plan .features li::before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  display: grid;
  place-items: center;
}
ul.product-plans li.product-plan .features li.check::before {
  content: "\2713";
  color: green;
}
ul.product-plans li.product-plan .features li.cross::before {
  content: "\d7";
  color: red;
}
